<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Login</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>ivi will use Face ID as a secondary point of identification. It will be used after you have correctly inputed the swipe code.</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>eye</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Rook</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rook</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dragon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dragon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>Cookie</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>cookie</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Champagne</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>champagne</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Camera</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>camera</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Bomb</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bomb</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ArrowLock</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>arrow-lock</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ArrowLockSolid</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>arrow-lock-solid</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
		</dict>
	</dict>
</dict>
</plist>
